@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');
body{
    background-color: #1B1D2D;
}

*{
    margin: 0px;
    padding: 0;
}
.cardazzan{
    background-color: #2F3144;
    width: 360px;
    height: 280px;
    border-radius: 10px;
}
.cardazzan:hover{
  background-color: wheat;
}

h2{
   padding-left: 99px;
   margin-top: 70px;
   font-size: 10px;
   color: white;
   
}
.para{
   margin-top: 10px;
  
   font-size: 30px; 
   letter-spacing: 6px;
}
.para-2{
    margin-top: 70px;
    font-size: 20px;
    color: skyblue;
    margin-left: 40px;
}
a{
    position: relative;
   left: 140px;
top: 20px;
color: wheat;
letter-spacing: 2px;
}
.card-1{
    position: relative;
    left: 100px;
    top: 30px;
}
.azzzan{
    background-color: #2F3144;
    width: 360px;
    height: 280px;
    position: relative;
    bottom: 147px;
    left: 144px;
    border-radius: 10px;
}
.container-20{
display: flex;
}
.key{
    background-color: #2F3144;
    width: 360px;
    height: 280px;
    position: relative;
    top: 37px;
    left: 194px; 
    border-radius: 10px; 
}
h2{
    font-size: 100px;
}
.para{

}
.index{
    background-color: #2F3144;
    width: 360px;
    height: 280px;
    position: relative;
    top: 37px;
    left: 240px; 
    border-radius: 10px;    
}
h1,p{
    padding-left: 90px;
    color: white;
   margin-top: 10px; 
}


.para-1{
    position: relative;
    bottom: 160px;
    left: 132px;
    color: skyblue;
}

.allcardazan{
 position: relative;
 display: flex;
    
}
.h1-1{
    position: relative;
    top: 47px;
    
    left: 90px;
    font-size: 40px;
    color: white;
}
.span{
    display: flex;
    position: relative;
    left: 90px;
    top: 10px;
}


.para-9{
    position: relative;
    right: 200px;
}

.icon-4,.icon-6,.icon-8,.allcardazan{
    background-color: #2F3144;
    width: 340px;
    height: 118px;
    margin-left: 20px;
    position: relative;
    left: 89px;
    bottom: 70px;
    border-radius: 10px;
}
.container-10{
    display: flex;
  position: relative;
  top: 180px;
    

}

.azan-ali{
   position: relative;
   top: 70px;
   right: 140px;
   font-size: 40px;
   color: white;
}
.radio{
    position: relative;
    right: 60px;
    
    font-size: 20px;
}
.ali{
    position: relative;
    top: 40px;
    left: 30px;
    font-size: 37px;
    color: white;
}
.span-2,.span-3,.span-4,.span-6{
    background-color: #2F3144;
    width: 340px;
    height: 118px;
    margin-left: 20px;
    position: relative;
    left: 89px;
    top: px;
    bottom: 44px;
    border-radius: 10px;
 
}
.span-10{
  display: flex;
}
.robaish{
    display: flex;
    position: relative;
    top: 180px;
    
}
.mango{
    position: relative;
    right: 60px;
    font-size: 20px;
}
.apple{
    position: relative;
    top: 40px;
    left: 30px;
    font-size: 38px;
    color: white; 
}
h4{
    font-family: "Syncopate";
    font-size: 60px;
    margin-left: 89px;
    margin-top: 60px;
    color: wheat;
}
.para-3{
    margin-top: 49px;
    margin-left: 49px;
    color: red;
    font-size: 20px;
}
.para-2{
    margin-top: 40px;
}
h1{
    font-family: "poppins";
    font-size: 34px;
} 
.bacha{
    font-family: "poppins";
}
h6,.ali{
    font-family: "Syncopate";
}
.demo{
    font-size: 30px;
}
.style-1{
font-size: 30px;
position: relative;
top: 24px;
left: 20px;
border-radius: 1px;
}
.style-2{
    font-size: 30px;
    position: relative;
    
    bottom: 60px;
    left: 260px;
    border-radius: 1px; 
}
.style-3{
    position: relative;
    top: 10px;
    left: 40px;
    font-size: 30px;
}
.style-4{
    position: relative;
    bottom: 60px;
    left: 269px;
    font-size: 30px;
}
.st